// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-teritiary-light: #2998ff;
$color-teritiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

// font
$default-font-size: 1.6rem;
